.element__text {
    margin: 0;
    width: calc(100% - 22px);
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}